.nft-three {
    background: #0F1217;
    padding: 90px 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: -200px;
        background: linear-gradient(90deg, #464EF9 3%, #8D58FF 62.73%);
        filter: blur(450px);
    }
    &__inner {
        position: relative;
        z-index: 5;
    }
    &__btns {
        display: flex;
        align-items: center;
    }
    &__btn {
        width: 229px;
        height: 55px;
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    &__item {
        text-align: center;
        &-title {
            font-size: 16px;
            line-height: 120%;
            color: #6C6F76;
            margin-bottom: 12px;
        }
        &-btn {
            margin-top: 20px;
            width: 166px;
            height: 55px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        margin: 0 100px;
    }
}

@media screen and (max-width: 992px) {
    .nft-three {
        &::after {
            display: none;
        }
        &__arrow {
            margin: 0 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .nft-three {
        padding: 30px 0;
        &__arrow {
            margin: 0 10px;
        }
        &__items {
            margin-top: 40px;
        }
        &__item-btn {
            width: 150px;
            height: 45px;
        }
    }
}

@media screen and (max-width: 576px) {
    .nft-three {
        &__btns {
            display: block;
        }
        &__btn {
            &:not(:first-child) {
                margin-top: 15px;
                margin-left: 0;
            }
        }
        &__items {
            display: block;
        }
        &__arrow {
            justify-content: center;
            margin: 30px 0;
            transform: rotate(90deg);
        }
    }
}