.nft-four {
    padding: 40px 0;
    background: #0F1217;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: -200px;
        background: linear-gradient(90deg, #464EF9 3%, #8D58FF 62.73%);
        filter: blur(450px);
    }
    &__inner {
        background: #1C1F24;
        border-radius: 18px;
        padding: 30px 40px;
        min-height: 560px;
        position: relative;
        z-index: 5;
    }
}

@media screen and (max-width: 992px) {
    .nft-four {
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .nft-four {
        padding: 30px 0;
    }
}

@media screen and (max-width: 576px) {
    .nft-four {
        &__inner {
            padding: 30px;
            min-height: 500px;
        }
    }
}