.nft-four {
    padding: 40px 0;
    background: #0F1217;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: -200px;
        background: linear-gradient(90deg, #464EF9 3%, #8D58FF 62.73%);
        filter: blur(450px);
    }
    &__inner {
        background: #1C1F24;
        border-radius: 18px;
        padding: 30px 40px;
        min-height: 560px;
        position: relative;
        z-index: 5;
    }
    &__form {
        display: flex;
        justify-content: end;
        align-items: center;
        &-title {
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
        }
        &-group {
            border: none;
            margin: 0;
            padding: 0;
            &:not(:first-child) {
                margin-left: 30px;
            }
            input {
                font-size: 16px;
                line-height: 120%;
                background: rgba(255, 255, 255, 0.06);
                border-radius: 10px;
                border: rgba(255, 255, 255, 0.06);
                color: #FFFFFF;
                width: 440px;
                height: 55px;
                padding: 0 20px;
            }
            button {
                width: 166px;
                height: 55px;
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #FFFFFF;
                background: #68D13E;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    &__btns {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left-btn {
        width: 166px;
        height: 55px;
        &:not(:first-child) {
            margin-left: 18px;
        }
    }
    &__right-btn {
        font-size: 16px;
        line-height: 120%;
        color: #6C6F76;
        width: 200px;
        height: 55px;
        background: rgba(255, 255, 255, 0.06);
        border-radius: 10px;
        cursor: pointer;
        &:not(:first-child) {
            margin-left: 8px;
        }
    }
}

@media screen and (max-width: 992px) {
    .nft-four {
        &::after {
            display: none;
        }
        &__form {
            display: block;
            &-group {
                &:not(:first-child) {
                    margin-top: 30px;
                    margin-left: 0;
                }
                input {
                    width: 100%;
                    max-width: 440px;
                }
            }
        }
        &__btns {
            display: block;
        }
        &__right-btn {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .nft-four {
        padding: 30px 0;
        &__form {
            &-title {
                font-size: 14px;
            }
            &-group {
                &:not(:first-child) {
                    margin-top: 15px;
                }
                input {
                    font-size: 14px;
                    height: 45px;
                }
                button {
                    width: 150px;
                    height: 45px;
                    font-size: 14px;
                }
            }
        }
        &__left-btn {
            width: 150px;
            height: 45px;
            font-size: 14px;
        }
        &__right-btn {
            width: 180px;
            height: 45px;
            margin-top: 15px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    .nft-four {
        &__inner {
            padding: 30px;
            min-height: 500px;
        }
        &__left-btn {
            display: block;
            &:not(:first-child) {
                margin-top: 15px;
                margin-left: 0;
            }
        }
        &__right-btn {
            display: block;
            &:not(:first-child) {
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }
}