.nft-five {
    background: #0F1217;
    padding: 90px 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: -200px;
        background: linear-gradient(90deg, #464EF9 3%, #8D58FF 62.73%);
        filter: blur(450px);
    }
    &__inner {
        position: relative;
        z-index: 5;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display: flex;
            align-items: center;
        }
    }
    &__btn {
        width: 229px;
        height: 55px;
        &:not(:first-child) {
            margin-left: 18px;
        }
    }
    &__info {
        font-size: 16px;
        line-height: 120%;
        color: #6C6F76;
        span {
            color: #ffffff;
        }
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
    &__items {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__item {
        text-align: center;
        &-title {
            font-size: 16px;
            line-height: 120%;
            color: #6C6F76;
            margin-bottom: 12px;
        }
        &-btn {
            width: 166px;
            height: 55px;
            margin-top: 20px;
            position: relative;
            z-index: 2;
        }
    }
    &__btn {
        &:hover {
            transition: all 3s;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        margin: 0 100px;
    }
    &__bottom-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        position: relative;
        z-index: 5;
        button {
            &:not(:first-child) {
                margin-left: 25px;
            }
        }
    }
    &__btn-cancel {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #CD3E3F;
        width: 166px;
        height: 55px;
        border: 1px solid #CD3E3F;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: #CD3E3F;
            color: #ffffff;
            border: none;
            transition: all 0.3s;
        }
    }
    &__btn-accept {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        width: 166px;
        height: 55px;
        background: #68D13E;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: #73fd3c;
            transition: all 0.3s;
        }
    }
}

@media screen and (max-width: 1180px) {
    .nft-five {
        &__btns {
            display: block;
            &-right {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .nft-five {
        &::after {
            display: none;
        }
        &__arrow {
            margin: 0 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .nft-five {
        padding: 30px 0;
        &__arrow {
            margin: 0 10px;
        }
        &__items {
            margin-top: 40px;
        }
        &__item {
            &-btn {
                width: 150px;
                height: 45px;
                margin-top: 15px;
            }
        }
        &__btn-cancel {
            width: 150px;
            height: 45px;
        }
        &__btn-accept {
            width: 150px;
            height: 45px;
        }
    }
}

@media screen and (max-width: 576px) {
    .nft-five {
        &__btns {
            &-left {
                display: block;
            }
        }
        &__btn {
            &:not(:first-child) {
                margin-top: 15px;
                margin-left: 0;
            }
        }
        &__items {
            display: block;
        }
        &__arrow {
            justify-content: center;
            margin: 30px 0;
            transform: rotate(90deg);
        }
    }
}