.nft-six {
    padding: 40px 0;
    background: #0F1217;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 400px;
        height: 100%;
        top: 0;
        right: -200px;
        background: linear-gradient(90deg, #464EF9 3%, #8D58FF 62.73%);
        filter: blur(450px);
    }
    &__inner {
        background: #1C1F24;
        border-radius: 18px;
        padding: 30px 40px;
        min-height: 560px;
        position: relative;
        z-index: 5;
    }
    &__top-btn {
        background: #628D51;
        &:hover {
            background: #628D51;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    &__item {
        &:not(:first-child) {
            margin-left: 18px;
        }
    }
    &__card {
        &-svg {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(133.13deg, #8D58FF 17.09%, #464EF9 49.07%, #8D58FF 77.96%);
            border-radius: 0 12px 0 12px;
        }
    }
    &__img {
        border: 1px solid rgba(141, 88, 255, 1);
        border-radius: 18px;
    }
}

@media screen and (max-width: 992px) {
    .nft-six {
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .nft-six {
        padding: 30px 0;
        &__items {
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 576px) {
    .nft-six {
        &__inner {
            padding: 30px;
        }
        &__items {
            display: block;
        }
        &__item {
            &:not(:first-child) {
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }
}